<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <% if (isAuthenticated && user.role === 'admin')  { %>
                    <ul class="cart__item-list">
                        <% users.forEach(u => { %>
                            
                            <h1>user id <%- u.id %></h1>
                            <h1>cart productid: <%- u.cart.items[0].productId._id %></h1>
                            
                                <li class="cart__item">

                                    <form action="/cart-delete-item-admin" method="POST">
                                        <input type="hidden" value="<%- u.cart.items[0].productId._id %>" name="productId">
                                        <input type="hidden" value="<%- u.id %>" name="userId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn danger" type="submit">Reject</button>
                                        <a href="/cart-approve-item-admin/<%- u.cart.items[0].productId._id %>/<%- u.id %>" class="btn">Approve</a>
                                    </form>
                                </li>
                            
                        <% }) %>
                        
                    </ul>
                    <hr>
                    <div class="centered">
                    </div>
                <% } else { %>

                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <form action="/cart-delete-item" method="POST">
                                <input type="hidden" value="<%= p.productId._id %>" name="productId">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                                <% if (p.approve === true) { %>
                                <a class="btn" href="/checkout">Complete the payment</a>
                                <% } else { %>
                    
                                    <a class="btn" >Waiting for approval</a>
                                    
                                <% } %>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                </div>
                <% } %>
                
            <% } else { %>
                <h1>No Application found</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>