<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>

                <form action="/products" method="GET">
                    <div class="form-row">
                        <div class="form-item">
                          
                          <input type="hidden" name="title" value="<%= searchOptions.title %>">
                        </div>
                      </div>
                      <div class="form-row">
                        <div class="form-item">
                         
                          <input type="hidden" name="species" value="<%= searchOptions.species %>">
                        </div>
                      <div class="form-row">
                        <div class="form-item">
                          
                          <input type="hidden" name="breed" value="<%= searchOptions.breed %>">
                        </div>
                        <div class="form-item">
                            
                            <input type="hidden" name="personality" value="<%= searchOptions.personality %>">
                          </div>
            
                      </div>
                      
                      
                  </form>
                <% if (prods.length > 0) { %>
                    <h1 style="text-align: center;">Your soulmate could be ... </h1>
                    <div class="grid">
                        <% for (let product of prods) { %>
                            <% if (product.adoption == false) { %>
                                
                                    
                                
                                <div>
                                    <article class="card product-item">
                                        <header class="card__header">
                                            <h1 class="product__title">
                                                <%= product.title %>
                                            </h1>
                                        </header>
                                        <h1 class="product__breed">
                                            <%= product.breed %>
                                        </h1>
                                        <div class="card__image">
                                            <img src="/<%= product.imageUrl %>" alt="<%= product.title %>">
                                        </div>
                                        <div class="card__content">
        
                                            <p class="product__description">
                                                <%= product.description %>
                                            </p>
                                        </div>
                                        <div class="card__actions">
                                            <a href="/products/<%= product._id %>" class="btn">Details</a>
                                            <% if (isAuthenticated) { %>
                                                <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                                            <% } %>
                                        </div>
                                    </article>
                                </div>
                            
                            <% } %>
                         <% } %>
                    </div>
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                    <% } else { %>
                        <h1>No Pet Found Yet!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>